<ul id="mysidebar" class="nav">
    <li class="active"><a href="#">Головна сторінка</a></li>
    <li><a href="#">Пригоди</a>
        <ul>
            <li><a href="#">Загальне</a></li>
            <li><a href="#">Спорядження</a></li>
        </ul>
    </li>
    <li><a href="#">Персонаж</a>
        <ul>
            <li><a href="#">Загальні правила</a></li>
            <li><a href="#">Раси</a></li>
            <li><a href="#">Класи</a></li>
        </ul>
    </li>
    <li><a href="#">Бій</a></li>
    <li><a href="#">Правила</a>
        <ul>
            <li><a href="#">Загальні</a></li>
            <li><a href="#">Здібності</a></li>
        </ul>
    </li>
    <li><a href="#">Правила майстра</a>
        <ul>
            <li><a href="#">Загальні</a></li>
            <li><a href="#">Списки предметів</a></li>
            <li><a href="#">Списки монстрів</a></li>
        </ul>
    </li>
    <li><a href="#">Чаротворення</a>
        <ul>
            <li><a href="#">Загальне</a></li>
            <li><a href="#">Списки чарів</a></li>
            <li><a href="#">Списки чарів за класами</a></li>
        </ul>
    </li>
</ul>
