<ul id="mysidebar" class="nav">
    <li class="active"><a href="/dnd-minima/index.html">Головна сторінка</a></li>
    <li><a href="/dnd-minima/docs/adventuring/index_all.html">Пригоди</a>
        <ul>
            <li><a href="/dnd-minima/docs/adventuring/index.html">Загальне</a></li>
            <li><a href="/dnd-minima/docs/adventuring/equipment/index.html">Спорядження</a></li>
        </ul>
    </li>
    <li><a href="/dnd-minima/docs/character/index_all.html">Персонаж</a>
        <ul>
            <li><a href="/dnd-minima/docs/character/index.html">Загальні правила</a></li>
            <li><a href="/dnd-minima/docs/character/races/index.html">Раси</a></li>
            <li><a href="/dnd-minima/docs/character/classes/index.html">Класи</a></li>
        </ul>
    </li>
    <li><a href="/dnd-minima/docs/combat/index.html">Бій</a></li>
    <li><a href="/dnd-minima/docs/rules/index_all.html">Правила</a>
        <ul>
            <li><a href="/dnd-minima/docs/rules/index.html">Загальні</a></li>
            <li><a href="/dnd-minima/docs/rules/abilities/index.html">Здібності</a></li>
        </ul>
    </li>
    <li><a href="/dnd-minima/docs/gamemaster_rules/index_all.html">Правила майстра</a>
        <ul>
            <li><a href="/dnd-minima/docs/gamemaster_rules/index.html">Загальні</a></li>
            <li><a href="/dnd-minima/docs/gamemaster_rules/magic_items/index.html">Списки предметів</a></li>
            <li><a href="/dnd-minima/docs/gamemaster_rules/monsters/index.html">Списки монстрів</a></li>
            <li><a href="/dnd-minima/docs/gamemaster_rules/templates/index.html">Шаблони</a></li>
        </ul>
    </li>
    <li><a href="/dnd-minima/docs/spellcasting/index_all.html">Чаротворення</a>
        <ul>
            <li><a href="/dnd-minima/docs/spellcasting/index.html">Загальне</a></li>
            <li><a href="/dnd-minima/docs/spellcasting/spells/index.html">Списки чарів</a></li>
            <li><a href="/dnd-minima/docs/spellcasting/classes/index.html">Списки чарів за класами</a></li>
        </ul>
    </li>
</ul>
