---
layout: default
---

<div class="post-header">
   <h1 class="post-title-main">{{ page.title }}</h1>
</div>

<div class="post-content">

   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}

   {{content}}

        <h2> Згенерований список</h2>
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.category == "spells" -%}
             <p><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></p>
              {%- endif -%}
            {%- endfor -%}

        <h2>Згенерований список</h2>
            {% assign sortedPosts = site.docs | sort: 'title' %}
            {% for doc in sortedPosts %}
              {%- if doc.category == "spells" -%}
                <p><a class="page-link" href="{{ doc.url | relative_url }}">{{ doc.title | escape }}</a></p>
              {%- endif -%}
            {% endfor %}

</div>


{% include footer.html %}
